* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'preamble preamble preamble preamble preamble logo'
        'col0 col1 col2 col3 col4 col5';
    gap: 10px;
    background-color: white;
    padding: 10px;
}

    .grid-container > div {
        padding: 10px;
        font-size: 16px;
    }

.preamble {
    grid-area: preamble;
    font-size: 10px;
    border: 2px solid #808080;
}

    .preamble > h1 {
        font-size: 40px;
    }

    .preamble > h2 {
        font-size: 20px;
    }

    .preamble > ul {
        list-style-type: none;
    }

        .preamble > ul > li {
            padding-top: .75em;
        }

            .preamble > ul > li > img {
                padding-right: .5em;
            }

    .preamble > p > img {
        height: 20px;
        padding-left:3px;
        vertical-align:top;
    }

.logo {
    grid-area: logo;
    vertical-align: top;
}

    .logo > img {
        width: 400px;
        height: 400px;
        object-fit: contain;
    }

.col0 {
    grid-area: col0;
    padding: 10px;
}

.col1 {
    grid-area: col1;
    padding: 10px;
}

.col2 {
    grid-area: col2;
    padding: 10px;
}

.col3 {
    grid-area: col3;
    padding: 10px;
}

.col4 {
    grid-area: col4;
    padding: 10px;
}

.col5 {
    grid-area: col5;
    padding: 10px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
