* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto','Helvetica','Arial','sans-serif';
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.alternate-navbar-brand {
    text-decoration-line:none;
}

.preamble-row {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 0px 0px 20px 8px;
}

.preamble-column {
    flex: 67%;
    max-width: 90%;
    padding: 4px 4px 4px 10px;
    border: 2px solid #808080;
}

    .preamble-column > h1 {
        font-size: 40px;
    }

    .preamble-column > ul {
        list-style-type: none;
    }

        .preamble-column > ul > li {
            padding-top: .75em;
        }

            .preamble-column > ul > li > img {
                padding-right: .5em;
            }

    .preamble-column > p > img {
        height: 20px;
        padding-left: 3px;
        vertical-align: top;
    }

.preamble-logo-column {
    flex: 33%;
    min-width: 200px;
    max-width: 33%;
    padding: 0 4px;
    vertical-align: top;
}

    .preamble-logo-column > img {
        width: 400px;
        height: 400px;
        object-fit: contain;
    }

.address-table-div {
    overflow-y: auto;
    height: 250px;
}
.address-table-dv thead th {
    position: sticky;
    top: 0px;
}
.address-table-div td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
}
.address-table {
    table-layout: fixed;
    width: 100%;
}

.address-table-column-70 {
    width: 70%;
}

.address-table-column-15 {
    width: 15%;
}

.address-table-column-centered {
    text-align: center;
}

.address-create-edit-row {
    display: flex;
}

.address-create-edit-field {
    flex: 80%;
    padding-right: 3px;
}

.address-create-edit-error {
    flex: 12%;
}

.suggestions-text-area {
    flex: 100%;
}

.data-entry {
    border: 2px solid #808080;
    padding-bottom: 2px;
}

.data-entry div {
    padding-top: 2px;
    padding-left: 2px;
}

.far-right {
    float: right;
}

.designs-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.designs-column {
    flex: 25%;
    min-width: 200px;
    max-width: 25%;
    padding-right: 2em;
}

    .designs-column > img {
        max-width: 100%;
        border-radius: 1em;
        object-fit: contain;
    }

    .designs-column > p {
        padding-top: 4px;
        padding-left: .25em;
        padding-right: .25em;
        font-size: .8em;
        text-align: justify;
        text-justify: inter-word;
    }

.mini-navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: center;
}

.mini-navbar-3col {
    flex: 33%;
    min-width: 200px;
    max-width: 33%;
}

    .mini-navbar-3col a {
        text-decoration-line:none;
    }

.upcoming-row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 4px;
}

.upcoming-col-20 {
    flex: 20%;
    min-width: 200px;
    min-height: 250px;
    max-width: 33%;
}

    .upcoming-col-20.order {
        border: 10px solid #808080;
        padding-left: 15px;
        align-content: center;
    }

.upcoming-col-20 > div.centered {
    text-align: center;
}

.upcoming-col-20 > img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.upcoming-col-60 {
    display: flex;
    flex: 60%;
    min-width: 250px;
    max-width: 60%;
    padding: 5px 10px 5px 10px;
    align-items: center;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
